<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/theda/Desktop/ColonelTestProject">
        <classes>
            <class name="UnitTestCases.TestRegistrationFeature">
                <methods>
                    <include name="testRegister"/>
                    <include name="testLogin"/>
                </methods>
            </class>
            <class name="UnitTestCases.LoginFunctionalityTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>